In [1]:
###oops concept in python

#global variable  >>>>>>padna h
#local variable

In [ ]:
class Class_name:   ###class name
    pass        ###place
#class is keyword

In [12]:
class Student:
    name = "kriti" ##clas variable
    age = 20
    print(f"my name is {name} and my age is {age}")
obj_st=Student()

my name is kriti and my age is 20

In [13]:
obj_st.name

'kriti'

In [7]:
obj_st.age

20

In [1]:

class Student:
    name = "kriti"
    age = "20"

    def info(self):  #### info is method and self is parameter
        print("this is my firat method")



obj_st =Student()

In [5]:
obj_st.info()

this is my firat method

In [ ]:
class Student:
    name = "kriti"
    age = "20"

    def info(self):  #### info is method and self is parameter  ### method 
        print(f"my name is {self.name} and my age is {self.age}")

dt_obj =Student()    
    #dt_obj.info()
dt_obj.name
dt_obj.info()

my name is kriti and my age is 20

In [19]:
#########INHERITANCE##########
#types of inh--- 5

In [20]:
class College:
    pass

class Student:
    pass

In [27]:
###single inheri
class Collage:
    collage_name = "Arya main campus"
    Collage_address = "Kukas"
    

    def info(self):
        print(self.collage_name)
        print(self.collage_address)

class Student(Collage):
    student_name = "ritik"
    student_id = "1234"

st_obj =Student()
print(st_obj.collage_name)
print(st_obj.Collage_address)
print(st_obj.student_name)
print(st_obj.student_id)

Arya main campus
Kukas
ritik
1234

In [24]:
#######multiple hie

class Father:
   father_name = "ritk"
   father_id = "1234"
class Uncle:
    uncle_name = "rohit"
class Child(Father,Uncle):
   pass
   
obj_child = Child()
print(obj_child.father_name)
print(obj_child.father_id)
print(obj_child.uncle_name)

ritk
1234
rohit

In [25]:
##multi level

class GrandFather:
    grandfather_name = "ritk"
    grandfather_id = "1234"
class Father(GrandFather):
    father_name = "rohit"
    father_id = "135376@gbdjk"   

class Child(Father):
    pass

obj_child = Child()
print(obj_child.grandfather_name)
print(obj_child.grandfather_id)
print(obj_child.father_name)
print(obj_child.father_id)

ritk
1234
rohit
135376@gbdjk

In [26]:
##### polymorphism   ----it runs multiple function
print("hello")

hello

In [28]:
###Largest no.

while True:
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: "))

    if a > b:
        print("Largest number is:", a)
    elif b > a:
        print("Largest number is:", b)
    else:
        print("Both numbers are equal.")

    break

Largest number is: 58

In [29]:
####check even or odd

while True:
    num = int(input("Enter a number: "))
    if num % 2 == 0:
        print("Even number")
    else:
        print("Odd number")
    break

Even number

In [30]:
##leap year

while True:
    year = int(input("Enter a year: "))
    if(year % 400 == 0):
        print("It is a Leap Year")
    else:
        print("Not a Leap Year")
    break

It is a Leap Year

In [31]:
####grading system

while True:
    marks = int(input("Enter your marks: "))

    if marks >= 90:
        print("Grade A")
    elif marks >= 75:
        print("Grade B")
    elif marks >= 60:
        print("Grade C")
    else:
        print("Grade D")
    break

Grade D

In [32]:
##largest three no.

while True:
    x = int(input("Enter first number: "))
    y = int(input("Enter second number: "))
    z = int(input("Enter third number: "))

    if x >= y and x >= z:
        print("Largest number is:", x)
    elif y >= x and y >= z:
        print("Largest number is:", y)
    else:
        print("Largest number is:", z)
    break

Largest number is: 25

In [34]:
##traffic signals

while True:
    signal = str(input("enter the signal RED,YELLOW,GREEN"))

    if signal == "red":
        print("Stop")
    elif signal == "yellow":
        print("Wait")
    elif signal == "green":
        print("Go")
    else:
        print("Invalid color! Please enter red, yellow, or green.")
    
    break  # remove this if you want it to repeat continuously

Invalid color! Please enter red, yellow, or green.

In [9]:
####encapsulation
##access specifier is used

class Student:
    __name = "ritk"   ###private
    age = 20   ##public
    _id = "1234"  ##protected varaible
st_obj =Student()

In [10]:
st_obj.age

20

In [12]:
st_obj._Student__name   ### acces private variable

'ritk'

In [13]:
st_obj._id

'1234'

In [ ]:
###TASK


# bank 
# ac no private
# Name
# addres
# phone no
# def method
# total balance


####class
###method
###Inheritance

####super function
#####BMI calculator project using class

In [27]:
class Bank:
    __Accountno = 1234567890
    name = "Kriti"
    Address = "jaipur"
    Phone_no = 123456
    bank_balance = 165000
    def info(self):
        print(self.bank_balance)
obj_ba = Bank()

In [28]:
obj_ba.info()

165000

In [29]:
obj_ba.bank_balance

165000

In [31]:
#####constructor
##init method
##__init__

class Student:
    def __init__(self):
        pass

In [ ]:
class Student:
    def __init__(self , name , age):
        self.name = name 
        self.age = age ###instance variable

obj_st =Student(name = "ritk" , age=22) 

print(obj_st.name)

ritk

In [33]:
obj_st.age

22

In [35]:
class Student:
    def __init__(self , name , age , address):
        self.name = name
        self.age = age
        self.address = address

    def display(self):
        print(f"my name is {self.name} and my age is {self.age} and my addess is {self.address}")

obj_st=Student(name="ritij",age=22,address="kukas")

In [36]:
obj_st.display()

my name is ritij and my age is 22 and my addess is kukas

In [55]:
# class bank :
#     used conmstructor
#     ac no.private
#     3 method deposit,withdrwal,total balance


class Bank:
    def __init__(self , name , age ,Account_number , phone_number , address , amount):
        self.name = name
        self.age = age
        self.__Account_number = Account_number
        self.phone_number = phone_number
        self.address = address
        self.amount = amount 


    def deposit(self , amount):
        self.amount = self.amount + amount
        return self.amount
    
    def withdraw(self , amount):
        self.amount = self.amount - amount
        return self.amount
    def total_balance(self):
        return self.amount
    def info(self):
        print("your name" , self.name)
bn_obj =Bank(name="ritij",age=22,  Account_number = 27575637487 ,  phone_number = 87487438 ,address="kukas" , amount = 600000008)

In [56]:
bn_obj.address

'kukas'

In [57]:
bn_obj.info()

your name ritij

In [58]:
bn_obj.total_balance()

600000008

In [59]:
bn_obj.deposit(565856)

600565864

In [61]:
bn_obj.withdraw(50000)

600515864

## BMI Calculator

In [2]:

class BMICalculator:
    def __init__(self):
        self.height = 0
        self.weight = 0
        self.bmi = 0

    def get_height(self):
        unit = input("Enter height unit (meters/feet): ")
        if unit == "meters":
            self.height = float(input("Enter your height in meters: "))
        elif unit == "feet":
            feet = float(input("Enter your height in feet: "))
            self.height = feet * 0.3048
            print(f"Converted height in meters: {self.height} m")

        else:
            print("Invalid unit. Please enter 'meters' or 'feet'.")
            self.get_height()    

    def get_weight(self):
        
        self.weight = float(input("Enter your weight in kilograms: "))

    def calculate_bmi(self):
        bmi = self.weight / (self.height ** 2)
        print("Your BMI is:", bmi)

    
    
    def BMI_checker(self):
        bmi = self.bmi
        if bmi < 18.5:
            print("You are underweight.")
        elif bmi < 25:
            print("You have a normal weight.")
        elif bmi < 30:
            print("You are overweight.")
        else:
            print("You are obese.")


BMI_obj = BMICalculator()
BMI_obj.get_height()
BMI_obj.get_weight()
BMI_obj.calculate_bmi()
BMI_obj.BMI_checker()

Converted height in meters: 1.5544799999999999 m
Your BMI is: 38.073039536228166
You are underweight.

In [ ]:
print("kriti")